{% extends 'public/layout/content.html.twig' %}

{% block body %}
    <div class="logo">
        <img src="{{ asset('assets/img/logo.svg') }}" alt="logo">
    </div>
    <div class="empty empty--secondary">
        <div class="empty__inner">
            <svg width="344" height="344" viewBox="0 0 344 344" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M186.93 46.1191C238.68 1.01717 321.895 28.5211 336.914 95.8936L336.92 95.9209L336.927 95.9473C343.903 125.302 338.87 156.859 323.172 182.525L322.417 183.743L322.415 183.746C311.44 201.209 292.61 221.091 271.649 240.308C252.052 258.274 230.799 275.474 212.82 289.321L209.27 292.045C203.419 296.517 191.566 305.079 182.337 311.699L174.303 317.447C173.008 318.371 171.307 318.43 169.962 317.621L169.697 317.447C161.545 311.629 144.802 299.635 136.313 293.245L134.731 292.045H134.73C116.043 277.763 93.254 259.471 72.3506 240.308C51.7174 221.392 33.1487 201.83 22.1055 184.566L21.585 183.746L21.584 183.743L20.8281 182.525C5.1295 156.859 0.0965472 125.302 7.07324 95.9473L7.08008 95.9209L7.08594 95.8936C21.9873 29.0475 104.024 1.44943 155.852 45.0752L157.07 46.1191L157.08 46.1279C159.957 48.6187 162.634 51.3999 165.532 54.4189V54.4199C166.107 55.0184 166.69 55.6256 167.281 56.2373L169.083 58.083C170.638 59.6572 173.149 59.7064 174.764 58.2305L174.917 58.083C176.136 56.849 177.319 55.6172 178.468 54.4199L178.467 54.4189C181.185 51.5883 183.708 48.9677 186.383 46.5986L186.92 46.1279L186.93 46.1191Z" fill="#FFE7E6" stroke="#FF5246" stroke-width="8"/>
            </svg>
            <h1 class="empty__title">
                Welcome!
            </h1>
            <span class="empty__text">
                We're happy to see you here, so let's get started.
            </span>
            <div class="empty__actions">
                <a href="{{ path('manager_default_index') }}" class="btn__primary btn__primary--xl btn__primary--blue">
                    Get started!
                </a>
            </div>
        </div>
    </div>
{% endblock %}
