<div class="cards cards--secondary">
    <div class="cards__above">
        <h2 class="cards__title">
            There are no categories in your knowledge base yet.
        </h2>
    </div>
    <div class="cards__items">
        <div class="cards__add">
            <span class="cards__add-title">
                There are no categories in your knowledge base yet.
            </span>
            <div class="cards__add-actions">
                <a href="{{ path('manager_category_manage') }}" class="btn__primary btn__primary--xl" onclick="return openModal(this.href)">
                    <i class="icon-plus"></i>
                    <span class="btn__text">Add category</span>
                </a>
            </div>
        </div>
    </div>
</div>
