<div class="statistic__item">
    <span class="statistic__number">{{ this.counter }}</span>
    <i class="{{ this.icon }}"></i>
    <span class="statistic__text">{{ this.priority.name|capitalize }}</span>
</div>
