<div class="card {{ this.class }}">
    <div class="card__left">
        <span class="card__number">{{ this.counter }}</span>
        <span class="card__status">{{ this.status.name }}</span>
    </div>
    <i class="icon-status-circle-xl"></i>
</div>
