.btn {
    &__status {
        align-items: center;
        border-radius: 16px;
        display: inline-flex;
        padding: 4px;
        transition: background-color .3s ease;

        &.error {
            background-color: var(--washed-red);

            i {
                color: var(--red);
            }

            &:hover {
                background-color: var(--hard-red);
                transition: background-color .3s ease;
            }

            &.active {
                outline: 1px solid var(--red);
            }
        }

        &.warning {
            background-color: var(--washed-orange);

            i {
                color: var(--orange);
            }

            &:hover {
                background-color: var(--hard-orange);
                transition: background-color .3s ease;
            }

            &.active {
                outline: 1px solid var(--orange);
            }
        }

        &.success {
            background-color: var(--washed-green);

            i {
                color: var(--green);
            }

            &:hover {
                background-color: var(--hard-green);
                transition: background-color .3s ease;
            }

            &.active {
                outline: 1px solid var(--green);
            }
        }
    }

    &__text {
        margin: 0 8px 0 4px;
        white-space: nowrap;
    }

    &__priority {
        align-items: center;
        border-radius: 8px;
        display: inline-flex;
        padding: 4px;
        transition: background-color .3s ease;

        &:hover {
            background-color: var(--light-grey);
            transition: background-color .3s ease;
        }

        &.error {
            &.active {
                outline: 1px solid var(--red);
            }
        }

        &.warning {
            &.active {
                outline: 1px solid var(--orange);
            }
        }

        &.success {
            &.active {
                outline: 1px solid var(--green);
            }
        }
    }

    &__primary {
        align-items: center;
        background-color: var(--white);
        border-radius: 8px;
        display: inline-flex;
        padding: 4px 6px;
        transition: background-color .3s ease;

        .btn__text {
            margin: 0;
        }

        i {
            &:first-child {
                margin-right: 4px;
            }

            &:last-child {
                margin-left: 4px;
            }
            
            &:only-child {
                margin: 0 -2px;
            }
        }

        &:hover {
            background-color: var(--light-grey);
        }

        &.active,
        &:active {
            background-color: var(--soft-grey);
        }

        &--xl {
            padding: 12px 16px;
            outline: 1px solid var(--soft-grey);

            &.active {
                outline: none;
            }

            i {
                &:only-child {
                    margin: 0 -4px;
                }
            }
        }

        &--blue {
            background-color: var(--blue);
            color: var(--white);
            outline-color: var(--blue);
            gap: 0 4px;

            i {
                color: var(--white);
            }
            
            &:hover {
                background-color: var(--blue-hover);
                outline-color: var(--blue-hover);
            }

            &.active,
            &:active {
                background-color: var(--blue-active);
                outline-color: var(--blue-active);
            }
        }

        &--danger {
        background-color: var(--red);
            color: var(--white);
            outline-color: var(--red);
            gap: 0 4px;

            i {
                color: var(--white);
            }
            
            &:hover {
                background-color: var(--red);
                outline-color: var(--red);
            }

            &.active,
            &:active {
                background-color: var(--red);
                outline-color: var(--red);
            }
        }
    }

    &__send {
        align-items: center;
        background-color: initial;
        display: inline-flex;
        padding: 4px;

        i {
            color: var(--blue);
            transition: color .3s ease;
        }

        &:hover {
            i {
                color: var(--blue-hover);
                transition: color .3s ease;
            }
        }

        &:active,
        &.active {
            i {
                color: var(--blue-active);
            }
        }

        &:disabled,
        &.disabled {
            pointer-events: none;

            i {
                color: var(--hard-grey);
            }
        }
    }

    &__file {
        align-items: center;
        background-color: var(--light-grey);
        border-radius: 8px;
        display: inline-flex;
        padding: 4px;

        .btn__text {
            margin: 0 4px;
        }
    }

    &__decoration {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        position: relative;
        height: 20px;
        width: 20px;

        i {
            color: var(--blue);
            font-size: 8px;
            position: absolute;
        }
    }

    &__apply {
        align-items: center;
        border-radius: 4px;
        background-color: var(--washed-green);
        display: inline-flex;
        justify-content: center;
        transition: background-color .3s ease;

        i {
            color: green;
        }

        &:hover {
            background-color: var(--hard-green);
            transition: background-color .3s ease;
        }

        &.active {
            background-color: var(--green);

            i {
                color: var(--white);
            }
        }
    }

    &__cancel {
        align-items: center;
        border-radius: 4px;
        background-color: var(--washed-red);
        display: inline-flex;
        justify-content: center;
        transition: background-color .3s ease;

        i {
            color: red;
        }

        &:hover {
            background-color: var(--hard-red);
            transition: background-color .3s ease;
        }

        &.active {
            background-color: var(--red);

            i {
                color: var(--white);
            }
        }
    }

    &__filter {
        outline: 1px solid var(--soft-grey);
        border-radius: 32px;
        display: flex;
        padding: 12px 16px;
        transition: outline .3s ease;
        gap: 0 8px;

        &:hover {
            outline-color: var(--grey);
            transition: outline .3s ease;
        }

        &:active,
        &.active {
            outline-color: var(--blue);
        }

        .badge {
            position: absolute;
            right: 18px;
            top: -10px;
        }
    }
}

//Downloading svg
.circular {
    &__decoration {
        fill: none;
        stroke: var(--blue);
        stroke-width: 3px;
    }
}