.cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 704px;

    &__above {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        width: 100%;
    }

    &__top {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 16px;
        max-width: 524px;
    }

    &__subtitle {
        margin-top: 8px;
    }

    &__items {
        background-color: var(--light-grey);
        border-radius: 24px;
        display: flex;
        flex-wrap: wrap;
        padding: 8px;
        gap: 8px;
    }

    &__add {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 56px;
        gap: 32px 0;
        width: 100%;
    }

    &__add-title {
        color: var(--hard-grey);
        font-size: var(--text-size-m);
        line-height: var(--line-height-m);
        text-align: center;
    }

    &--secondary {
        cursor: pointer;
        margin: 8px auto 0;
        width: 704px;

        .card {
            width: 100%;
        }

        .cards__items {
            width: 100%;
        }

        .card__inner-top {
            margin-bottom: 0;
        }
    }
}

.card {
    $self: &;
    background-color: var(--white);
    border-radius: 16px;
    padding: 24px;
    transition: box-shadow .3s ease;
    width: calc(50% - 4px);

    &__inner {
        display: flex;
        flex-direction: column;
    }
    
    &__sub {
        color: var(--hard-grey);
        display: inline-block;
        font-size: var(--text-size-sm);
        margin-top: 2px;
    }

    svg {
        margin-bottom: 16px;
    }

    &__inner-top {
        margin-bottom: 8px;
        position: relative;

        i {
            color: var(--blue);
            position: absolute;
            right: 0;
            top: 2px;
            opacity: 0;
            transition: opacity .3s ease;
        }
    }

    &__first-color,
    &__second-color,
    &__third-color {
        transition: fill .3s ease;
    }

    &:hover {
        box-shadow: 0px 1px 16px 0px #70757D1F;
        transition: box-shadow .3s ease;

        #{$self}__first-color {
            fill: #E0EDFF;
            transition: fill .3s ease;
        }

        #{$self}__second-color {
            fill: #0B68E8;
            transition: fill .3s ease;
        }

        #{$self}__third-color {
            fill: #FFFFFF;
            transition: fill .3s ease;
        }

        #{$self}__inner-top {
            i {
                opacity: 1;
                transition: opacity .3s ease;
            }
        }
    }

    &--secondary {
        #{$self}__text {
            font-size: var(--text-size-base);
            line-height: var(--line-height-base);
        }

        #{$self}__description {
            font-size: var(--text-size-m);
            line-height: var(--line-height-m);
        }
    }

    &--third {
        #{$self}__inner {
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }

        &:hover {
            #{$self}__actions {
                opacity: 1;
                visibility: visible;
                transition: opacity .3s ease, visibility .3s ease;
            }
        }
    }

    &__list {
        margin-left: 16px;
        list-style: decimal;
    }

    &__list-item {
        color: var(--hard-grey);
        font-size: var(--text-size-m);
        line-height: var(--line-height-m);
    }

    &__under {
        color: var(--hard-grey);
        display: inline-block;
        margin-top: 4px;
        font-size: var(--text-size-m);
        line-height: var(--line-height-m);
    }

    &__actions {
        align-items: center;
        display: flex;
        gap: 0 8px;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
    }
}