.chat {
    background-color: var(--light-grey);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: relative;
    height: 100%;
    width: 100%;

    .empty {
        margin: auto;
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    &__header {
        align-items: center;
        display: flex;
        padding: 16px 16px 16px 8px;
        background-color: var(--white);
        border-radius: 8px;
        height: 80px;

        .item {
            flex: 1;
            padding: 0;

            &__inner {
                max-width: 448px;
                width: 100%;
            }

            .form__control {
                border-radius: 0;
                border: none;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                padding: 0;
                text-overflow: ellipsis;

                &:hover {
                    border-color: var(--hard-grey);
                }

                &:focus {
                    border-color: var(--blue);
                }
            }
        }
    }

    &__header-actions {
        align-items: center;
        display: flex;
        
        .avatar {
            margin-left: 8px;
        }

        .dropdown {
            &:not(:first-child) {
                margin-left: 8px;
            }
        }
        
        .dropdown--secondary {
            .dropdown__menu {
                right: 0;
                left: unset;
                top: calc(100% + 8px);
            }
        }

        .dropdown--search {
            .dropdown__menu {
                right: 0;
                left: unset;
                top: calc(100% + 8px);
            }
        }


        .btn__dropdown {
            padding: 4px;

            i {
                margin: 0;
            }
        }
    }

    .messages {
        overflow-y: auto;
        height: calc(100% - 80px);

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    }

    .message {
        display: flex;
        justify-content: flex-start;
        margin: 8px 0;

        .item {
            align-items: flex-start;
            padding: 0;

            &__box {
                align-items: flex-start;
                margin-right: 0;
                max-width: 360px;
                min-width: 160px;

                .item__inner {
                    &:not(:first-child) {
                        margin-top: 8px;
                    }
                }
            }

            &__inner {
                background-color: var(--white);
                border-radius: 8px;
                margin: 0;
                max-width: 360px;
                min-width: 160px;
                padding: 16px;
            }

            &__heading {
                line-clamp: unset;
                overflow: unset;
                font-weight: var(--font-weight-base);
                -webkit-line-clamp: unset;
            }

            &__text {
                color: var(--black);
                font-size: var(--text-size-base);
                line-height: var(--line-height-base);
                margin-bottom: 6px;
            }

            &__time,
            &__send {
                color: var(--hard-grey);
                font-size: var(--text-size-m);
                line-height: var(--line-height-m);
            }

            &__send-failed {
                color: var(--red);
            }
        }

        &--outgoing {
            justify-content: flex-end;

            .item__status {
                order: 1;
            }

            .item__box {
                align-items: flex-end;
                margin-left: 0;
                margin-right: 4px;
            }
        }
    }

    .system {
        align-items: center;
        color: var(--hard-grey);
        display: flex;
        font-size: var(--text-size-m);
        line-height: var(--line-height-m);
        margin: 16px 0;

        &::before,
        &::after {
            background-color: var(--soft-grey);
            flex: 1;
            content: '';
            height: 1px;
        }

        &::before {
            margin-right: 8px;
        }

        &::after {
            margin-left: 8px;
        }
    }

    .date {
        align-items: center;
        background-color: #1010108F;
        border-radius: 100px;
        color: var(--white);
        display: flex;
        justify-content: center;
        font-size: var(--text-size-m);
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-m);
        margin: 16px auto;
        padding: 4px 12px;
        width: fit-content;
    }

    .send {
        align-items: flex-end;
        background-color: var(--white);
        border: 1px solid var(--soft-grey);
        border-radius: 8px;
        display: flex;
        padding: 11px 11px 11px 15px;
        gap: 0 8px;
        transition: background-color .3s ease, border-color .3s ease;

        // &:hover {
        //     background-color: var(--light-grey);
        //     transition: background-color .3s ease;
        // }

        &:focus-within {
            border-color: var(--blue);
            background-color: var(--white);
            transition: border-color .3s ease;
        }

        &__left {
            flex: 1;
        }

        &__left-inner {
            overflow-y: auto;
            max-height: 30vh;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
                display: none;
            }
        }

        &__actions {
            align-items: center;
            display: flex;
            gap: 0 8px
        }

        &__files {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            margin-top: 8px;
        }
    }

    .lost-connection {
        align-items: center;
        border: 1px solid var(--hard-red);
        background-color: var(--washed-red);
        border-radius: 8px;
        display: flex;
        margin-bottom: 8px;
        padding: 7px;

        i {
            color: var(--red);
            margin-right: 8px;
            font-size: 24px;
        }
    }
}

.autoresizable {
    display: grid;
    position: relative;

    &:after {
        background-color: initial;
        content: attr(data-replicated-value) " ";
        grid-area: 1 / 1 / 2 / 2;
        visibility: hidden;
        min-height: 32px;
        padding: 4px 0;
        white-space: pre-wrap;
        word-break: break-word;
    }

    textarea {
        border: none;
        background-color: initial;
        resize: none;
        grid-area: 1 / 1 / 2 / 2;
        outline: none;
        min-height: 32px;
        padding: 4px 0;
        word-break: break-word;
        width: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__inner {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 24px;
        height: 100%;
    }

    .logo {
        display: flex;
        margin-bottom: 32px;
    }

    &__top {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-top: 16px;
        font-weight: var(--font-weight-semi-bold);
        line-height: 1.2;
    }

    &__chat {
        height: calc(100% - 170px);
        width: 704px;
    }

    .chat {
        margin-top: 16px;
    }

    .item {
        &__inner {
            margin-right: 0;
            max-width: unset;
        }
    }

    &__form {
        width: 524px;
    }
}