.dropdown {
    display: inline-flex;
    position: relative;
    $self: &;

    .tooltip {
        bottom: calc(100% + 4px);
        background-color: var(--black);
        border-radius: 4px;
        color: var(--white);
        display: inline-flex;
        font-size: var(--text-size-sm);
        opacity: 0;
        visibility: hidden;
        padding: 4px 8px;
        position: absolute;
        transition: opacity .3s ease, visibility .3s ease;
        white-space: nowrap;
    }
    
    .btn__dropdown {
        justify-content: center;

        &:hover {
            .tooltip {
                opacity: 1;
                visibility: visible;
                transition: opacity .3s ease, visibility .3s ease;
            }
        }
    }

    &.show {
        #{$self}__menu {
            opacity: 1;
            visibility: visible;
            // transition: opacity .3s ease, visibility .3s ease;
        }
    }

    &__menu {
        border: 1px solid var(--soft-grey);
        border-radius: 8px;
        background-color: var(--white);
        box-shadow: 0px 1px 16px 0px rgba(112, 117, 125, 0.12);
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 8px;
        opacity: 0;
        visibility: hidden;
        right: 0;
        top: calc(100% + 8px);
        // transition: opacity .3s ease, visibility .3s ease;
        width: fit-content;
        z-index: 50;
    }

    &__menu-bot {
        border-top: 1px solid var(--soft-grey);
        margin-top: 2px;
        padding-top: 2px;
    }

    &__item {
        display: flex;

        .btn__primary {
            padding-right: 32px;
            border-radius: 4px;
            width: 100%;

            &.danger {
                color: red;

                i {
                    color: red;
                }

                &:hover {
                    background-color: var(--washed-red);
                }
            }
        }
    }

    &__item-empty {
        color: var(--hard-grey);
        display: block;
        font-size: 14px;
        line-height: var(--line-height-m);
        text-align: center;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: var(--font-weight-medium);
    }

    &__top-actions {
        align-items: center;
        display: flex;
        gap: 0 4px;
    }

    &--secondary {
        #{$self}__menu {
            padding: 16px 24px 16px 16px;
            top: -17px;
            left: -17px;
        }

        #{$self}__item {
            &:not(:first-child) {
                margin-top: 8px;
            }
        }
    }

    &--search {
        #{$self}__menu {
            border: unset;
            background-color: unset;
            box-shadow: unset;
            top: 0;
            left: 0;
            padding: 0;
            width: 240px;
        }

        #{$self}__menu-bot {
            background-color: var(--white);
            box-shadow: 0px 1px 16px 0px rgba(112, 117, 125, 0.12);
            border-radius: 8px;
            border: 1px solid var(--soft-grey);
            margin-top: 4px;
            padding: 7px;
        }
    }

    &--filter {
        #{$self}__menu {
            left: 0;

            .form__row {
                width: 320px;
            }
        }

        #{$self}__menu-top {
            margin-bottom: 8px;
        }

        .form__check {
            padding: 12px 0;

            &:not(:last-child) {
                border-bottom: 1px solid var(--soft-grey);
            }
        }
    }
}
