.form {
    &__control {
        background-color: var(--white);
        border: 1px solid var(--soft-grey);
        border-radius: 8px;
        padding: 15px;
        color: var(--black);
        font-size: var(--text-size-base);
        line-height: var(--line-height-base);
        transition: border-color .3s ease;
        width: 100%;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            border-color: var(--soft-grey);
            -webkit-text-fill-color: var(--black);
            -webkit-box-shadow: 0 0 0 var(--white) inset;
            transition: background-color 5000s ease-in-out 0s;
        }

        &::placeholder {
            color: var(--hard-grey);
        }

        &:hover {
            border-color: var(--grey);
            transition: border-color .3s ease;
        }

        &:focus {
            border-color: var(--blue);
            outline: none;
            transition: border-color .3s ease;
        }

        &:not(:placeholder-shown) {
            + .btn__clear-search {
                opacity: 1;
                transition: opacity .3s, visibility .3s;
                visibility: visible;
            }
        }
    }

    &__control--m {
        border-style: none none solid none;
        border-color: transparent;
        border-radius: 0;
        padding: 0 0 4px 28px;

        &:hover {
            border-color: var(--hard-grey);
        }

        &:focus {
            border-color: var(--blue);
            outline: none;
        }
    }

    &__control--sm {
        border-radius: 8px;
        padding: 7px;
    }

    &__control--xl {
        border-radius: 100px;
        padding: 11px 43px;
    }

    &__row {
        align-items: center;
        display: flex;
        position: relative;

        .icon-search {
            color: var(--black);
            font-size: 24px;
            position: absolute;
            left: 12px;
        }

        .btn__clear-search {
            opacity: 0;
            position: absolute;
            right: 12px;
            transition: opacity .3s, visibility .3s;
            visibility: hidden
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__label {
        color: var(--hard-grey);
        font-size: var(--text-size-m);
        line-height: var(--line-height-m);
        margin-bottom: 4px;
    }
}