.modal {
    $self: &;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 100;

    &__overlay {
        background: rgba(16, 16, 16, 0.5);
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: visibility 0s linear 0.3s, opacity 0.3s;
        visibility: hidden;
        width: 100%;
        z-index: 100;
    }

    &__inner {
        background-color: var(--white);
        border-radius: 16px;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        transition: all 0.3s 0.12s;
        z-index: 100;
    }

    &--side {
        #{$self}__inner {
            border-radius: 0;
            right: 0;
            height: 100%;
            transform: translateX(100%);
        }
    }

    &--visible {
        visibility: visible;
        
        #{$self}__overlay {
            opacity: 1;
            transition-delay: 0s;
            visibility: visible;
        }

        #{$self}__inner {
            opacity: 1;
            transform: translateX(0);
            transition: all 0.3s 0.12s;
        }
    }
}

//Customer details
.details {
    background-color: var(--white);
    padding: 22px 32px;
    height: 100%;
    min-width: 400px;
    width: 400px;

    &__top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .form {
        &__row {
            &:not(:first-child) {
                margin-top: 16px;
            }

            i {
                font-size: 24px;
                bottom: 4px;
                position: absolute;
            }

            .btn__primary {
                margin: auto 0 0 4px;
                display: none;
                
                i {
                    bottom: unset;
                    position: unset;
                }
            }

            &:hover {
                .btn__primary {
                    display: flex;
                }
            }
        }

        &__label {
            color: var(--hard-grey);
            font-size: var(--text-size-m);
            font-weight: var(--font-weight-base);
            line-height: var(--line-height-m);
            margin-bottom: 4px;
        }
    }

    &__actions {
        display: flex;
        margin-top: 30px;

        .dropdown {
            width: 100%;

            &__menu {
                width: 100%;
            }

            &__menu-bot {
                display: flex;
                gap: 0 4px;

                .dropdown__item {
                    overflow: hidden;
                    width: 100%;

                    .btn__text {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .form__row {
                gap: 0 4px;
                margin-top: 10px;
            }
        }

        .btn__dropdown {
            width: 100%;
        }
    }
}

//Category modal
.category {
    padding: 16px 24px 24px;
    min-width: 600px;
    width: 600px;

    &__top {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        .btn__primary {
            margin-right: -8px;
        }
    }

    &__top-inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 4px 0;
    }

    &__subtitle {
        color: var(--hard-grey);
        font-size: var(--text-size-m);
        line-height: var(--line-height-m);
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;
    }

    &__box {
        overflow-y: auto;
        height: 342px;

        &::-webkit-scrollbar {
            display: none;
            height: 0;
            width: 0;
        }
    }

    &__item {
        border-bottom: 1px solid var(--soft-grey);
        padding: 12px 0;
    }

    .form {
        &__check-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__row {
            gap: 0 8px;
            margin-top: 12px;

            .form__check {
                input {
                    margin: 0 0 4px;
                }
            }
        }
    
        &__control {
            padding: 0 0 4px;
        }
    }
}