.requests {
    display: flex;
    height: 100%;
    padding-top: 8px;

    &__inner {
        display: flex;
        width: 100%;
    }
    
    &__left {
        margin-right: 16px;
        min-width: 344px;
        width: 344px;

        .item {
            &.active {
                background-color: var(--light-grey);
        
                .item__decoration {
                    background-color: var(--white);
                }
            }
        
            &:hover {
                background-color: var(--light-grey);
                transition: background-color .3s ease;
        
                .item__decoration {
                    background-color: var(--white);
                    transition: background-color .3s ease;
                }
            }
        }
    }
    
    &__right {
        flex: 1;
    }

    &__box {
        margin-top: 16px; 
        height: calc(100vh - 171px);
        display: flex;
        flex-direction: column;
    }

    &__items {
        overflow-y: auto;
        padding-top: 16px;
        flex: 1;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    }
}

//Results 
.results {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: calc(100vh - 171px);

    &__title {
        margin-bottom: 4px;
    }

    &__top {
        border-bottom: 1px solid var(--soft-grey);
        margin-bottom: 8px;

        .tabs__link {
            &::after {
                content: unset;
            }
        }
    }

    &__items {
        display: flex;
        overflow-y: auto;
        flex: 1;
        flex-direction: column;
        gap: 16px 0;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    } 

    .loader {
        margin: 44px auto 0;
    }

    .empty {
        margin-top: 12px;
    }
}

//Customer details
.details {
    background-color: var(--white);
    padding: 22px 32px;
    height: 100%;
    min-width: 400px;
    width: 400px;

    &__top {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .form {
        &__row {
            &:not(:first-child) {
                margin-top: 16px;
            }

            i {
                font-size: 24px;
                bottom: 4px;
                position: absolute;
            }
        }
    }

    &__actions {
        display: flex;
        margin-top: 30px;

        .dropdown {
            width: 100%;
        }

        .btn__primary {
            width: 100%;
        }
    }
}