.table {
    border-spacing: 0;

    th {
        border-bottom: 1px solid var(--soft-grey);

        &:first-child {
            width: 100%;
        }
    }

    th, 
    td {
        padding: 0;
    }

    td {
        &:last-child {
            text-align: center;
        }
    }
    
    tbody {
        tr {
            transition: background-color .3s ease;
            
            &:hover {
                background-color: var(--light-grey);
                cursor: pointer;
                transition: background-color .3s ease;
            }
        }
    }
    
    &__heading {
        align-items: center;
        color: var(--hard-grey);
        display: flex;
        font-weight: var(--font-weight-base);
        padding: 8px 0;

        a {
            display: flex;
            margin-left: 4px;
        }
    }

    //Cols width
    &__col64 {
        min-width: 64px;
        max-width: 64px;
        width: 64px;
    }

    &__col160 {
        min-width: 160px;
        max-width: 160px;
        width: 160px;
    }

    &__col120 {
        min-width: 120px;
        max-width: 120px;
        width: 120px;
    }

    &__col240 {
        min-width: 240px;
        max-width: 240px;
        width: 240px;
    }

    //Item
    .item {
        padding: 16px 24px 16px 0;
    }

    // &__search {
    //     position: relative;
    // }

    // &__search-items {
    //     border: 1px solid var(--soft-grey);
    //     border-radius: 8px;
    //     background-color: var(--white);
    //     box-shadow: 0px 1px 16px 0px rgba(112, 117, 125, 0.12);
    //     display: flex;
    //     flex-direction: column;
    //     padding: 8px;
    //     position: absolute;
    //     top: calc(100% + 4px);
    //     width: 100%;
    //     z-index: 20;
    // }

    // &__search-item {
    //     align-items: center;
    //     border-radius: 4px;
    //     display: flex;
    //     padding: 4px 8px;
    //     transition: background-color .3s ease;

    //     i {
    //         margin-right: 4px;
    //     }

    //     &:hover {
    //         background-color: var(--light-grey);
    //         transition: background-color .3s ease;
    //     }
    // }

    // &__search-empty {
    //     color: var(--hard-grey);
    //     font-size: 14px;
    //     line-height: var(--line-height-m);
    //     text-align: center;
    // }

    .published__tag {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        padding: 4px 8px 4px 4px;
        gap: 0 4px;

        i {
            color: var(--green);
            font-size: 24px;
        }

        &.disabled {
            color: var(--hard-grey);

            i {
                color: var(--grey);
            }
        }
    }
}