services:
  nginx:
    image: nginx:latest
    container_name: help_nginx
    ports:
      - "8012:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ../../data/nginx:/var/log/nginx
      - ../../sources/public:/var/www/html:ro
    depends_on:
      - php
    networks:
      - help_network

  php:
    build:
      context: .
      dockerfile: franken.dockerfile
    container_name: help_franken
    env_file:
      - ../.env.local
    ports:
      - "8013:80"
    volumes:
      - ../../sources:/app:rw
    networks:
      - help_network
  db:
    image: mysql:8.0
    container_name: help_mysql
    env_file:
      - ../.env.local
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ../../data/mysql:/var/lib/mysql
    networks:
      - help_network
    ports:
      - "8016:3306"

  redis:
    image: redis:latest
    container_name: help_redis
    networks:
      - help_network
    ports:
      - "8017:6379"
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - ../../data/redis:/data

  centrifugo:
    image: centrifugo/centrifugo:v5
    container_name: help_centrifugo
    volumes:
      - ./centrifugo-config.json:/centrifugo/config.json
    ports:
      - "8018:8000"
    env_file:
      - ../.env.local
    command: centrifugo -c /centrifugo/config.json
    networks:
      - help_network

  elasticsearch:
    image: elasticsearch:9.1.3
    container_name: help_elasticsearch
    environment:
      - discovery.type=single-node
      - cluster.routing.allocation.disk.threshold_enabled=false
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - ../../data/elasticsearch:/usr/share/elasticsearch/data
    networks:
      - help_network
    ports:
      - "8019:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1

networks:
  help_network:
    driver: bridge
